nav {
  background-color: #0B3B60;
  height: 8vh;
}

nav i {
  padding: 1.5vh 3vw 0 3vw;
  font-size: 2rem;
}

nav i:hover {
  cursor: pointer;
}

nav h1 {
  color: #FFFFFF;
}

nav .header {
  display: inline-block;
}

input {
  border-radius: 4px;
  border-top: 1px solid #CED4DA;
  border-bottom: 1px solid #CED4DA;
  border-left: 1px solid #CED4DA;
  border-right: 1px solid #FFFFFF;
  margin: 40px 0;
  width: 80vw;
  padding: 6px 12px;
  color: #6C757D;
  font-family: 'Montserrat';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.search {
  display: inline-block;
}

.search i {
  border-radius: 4px;
  border-top: 1px solid #CED4DA;
  border-bottom: 1px solid #CED4DA;
  border-right: 1px solid #CED4DA;
  border-left: 1px solid #FFFFFF;
  padding: 8px 15px;
  color: #6C757D;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
}

.date {
  color: #339CFF;
  display: inline-block;
}

.date img {
  width: 40px;
  height: 20px;
}
