<app-elipsis *ngIf="isElipsis"></app-elipsis>
<nav class="row">
  <div class="col-10 header">
    <h1>
      <i class="fa-solid fa-angle-left" (click)="onGoBack()"></i>
      Pacientes
    </h1>
  </div>
  <div class="col-2 header text-end">
    <h1>
      <i class="fa-solid fa-ellipsis-vertical" (click)="onChangeElipsis()"></i>
    </h1>
  </div>
</nav>
<div class="container">
  <div class="search">
    <input type="search" placeholder="Pesquisar" [(ngModel)]="busca" (ngModelChange)="onSearchChange()">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
</div>
