.header {
  margin-top: 30px;
}

.header h1 {
  color: #0B3B60;
  font-family: Public Sans;
  font-weight: 700;
  text-align: left;
}

.header img {
  width: 40vw;
}

.card {
  background-color: #0B3B60;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
  height: 150px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.card i {
  display: block;
  font-size: 3rem;
}

.card:hover {
  cursor: pointer;
}

.body {
  margin-top: 50px;
}